#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    top: 0;
    z-index: 100;
}

#right {
    display: flex;
    gap: 10px;
}

h3,h5 {
    margin: 0;
    padding-top: 3px;
    padding-bottom: 3px;
}

#content {
    max-width: 65%;
    margin: auto;
}

a {
    color: black;
    text-decoration: underline;
}

a:visited {
    color: black;
}