#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8F9779;
    padding: 5px;
    position: sticky;
    top: 0;
    z-index: 100;
}

#right {
    display: flex;
    gap: 10px;
}

h3,h5 {
    margin: 0;
    padding-top: 3px;
    padding-bottom: 3px;
}

#bottomDiv p {
    display: inline-block;
    margin: 0;
}

#bottomDiv {
    margin-top: -10px;
}

#content {
    display: flex;
    justify-content: center;
}

#pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

#filters, #selected-filters {
    display: flex;
    margin-top: 1%;
    justify-content: center;
}

#filters * {
    margin-left: 1px;
    margin-right: 1px;
}

#bookmarked {
    background-color: #f0f0f0;
}

label {
    font-family: 'Inter', sans-serif;
}