#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

#right {
    display: flex;
    gap: 10px;
}

h3,h5 {
    margin: 0;
    padding-top: 3px;
    padding-bottom: 3px;
}

#problem {
    width: 60%;
}

#problem, #user-comment, #comments, #add-comment-button, #add-comment-message {
    margin-left: 2%;
}

#problem-meta {
    margin-top: -12px;
}

#problem-description {
    margin-top: -6px;
}

#problem-buttons {
    display: flex;
    gap: 10px;
    margin-top: 5px;
}

#add-comment-button {
    display: block;
}

.reply-buttons {
    display: block;
}

.comment-action-buttons {
    background: none;
    border: none;
    text-decoration: underline;
    color: black;
    margin-left: 0.5%;
    cursor: pointer;
    margin-bottom: -12px;
}

textarea {
    display: block;
}

.editor-toolbar, .editor-statusbar, .CodeMirror {
    width: 60%;
}

.comment-meta, .reply-meta {
    margin-bottom: -12px;
}

.reply {
    margin-left: 4%;
}

.comment {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 1%;
    margin-right: 2%;
    margin-top: 1%;
}

#add-comment-box {
    margin-top: 1%;
}