#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8F9779;
    padding: 5px;
    position: sticky;
    top: 0;
    z-index: 100;
}

#right {
    display: flex;
    gap: 10px;
}

h2,h4 {
    margin: 0;
    padding-top: 3px;
    padding-bottom: 3px;
}

#problem {
    width: 60%;
}

#problem, #user-comment, #comments, #add-comment-button, #add-comment-message {
    margin-left: 2%;
}

#problem-meta {
    margin-top: -12px;
}

#problem-description {
    margin-top: -6px;
}

#add-comment-button {
    display: block;
}

.reply-buttons {
    display: block;
}

.comment-action-buttons {
    background: none;
    border: none;
    text-decoration: underline;
    color: black;
    margin-left: 0.5%;
    cursor: pointer;
    margin-bottom: -12px;
}

textarea {
    display: block;
}

.comment-meta, .reply-meta {
    margin-bottom: -12px;
}

.reply {
    margin-left: 4%;
}