#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8F9779;
    padding: 5px;
    position: sticky;
    top: 0;
    z-index: 100;
}

#right {
    display: flex;
    gap: 10px;
}

h3,h5 {
    margin: 0;
    padding-top: 3px;
    padding-bottom: 3px;
}

#content h4 {
    margin-left: 1%;
}

#content ol {
    margin-top: -2%;
}